<div class="row">
    <div data-ng-include="templates.acroutingView"></div>
</div>

<div class="row" data-ng-controller="AircraftLogBookController">
    <div data-ng-include="templates.discrepancyView" data-ng-animate="'animate'"></div>
</div>

<div class="row">
    <div data-ng-include="templates.discrepancyhistory"></div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4 class="aa-heading" id="manuals">
            Manuals
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4 class="aa-heading" id="drawings">
            Drawings
        </h4>
    </div>
</div>