<div class="col-xs-12">
    <h4 class="aa-heading" id="history">
        History
    </h4>
    
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="col-sm-2">LOG #</th>
                <th class="col-sm-2 hidden-xs">ATA</th>
                <th class="col-sm-2 hidden-xs">STATUS</th>
                <th class="col-sm-2">CODE</th>
                <th class="col-sm-2">STATION</th>
                <th class="col-sm-2">DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">
                    <a href="#">23498703</a>
                </td>
                <td class="hidden-xs">2110</td>
                <td class="hidden-xs">DEFERRED</td>
                <td>NEF</td>
                <td>DFW</td>
                <td>05 MAY 14</td>
            </tr>
            <tr>
                <td colspan="5" class="text-muted ellipsis">
                    A TRIM PIECE IS COMING OFF A WINDOW -- SEAT 14A
                </td>
            </tr>
        </tbody>
    </table>
</div>