<div class="col-xs-12">
    <h4 class="aa-heading" id="discrepancies">
        Discrepancies
    </h4>
    
    <ul class="nav nav-summary block" data-ng-show="logPages">
        <li data-ng-class="{active: discrepancyFilter.DeferralCode == ''}">
            <a href="#" data-ng-click="discrepancyFilter.DeferralCode = ''">
                <h1 class="text-right">
                    <span data-ng-bind="logPages.length"></span>
                    <small>Log Pages</small>
                </h1>
            </a>
        </li>
        <li data-ng-repeat="(def, sum) in lopPageIndex" data-ng-class="{active: discrepancyFilter.DeferralCode == def}">
            <a href="#" data-ng-click="discrepancyFilter.DeferralCode = def">
                <h1 class="text-right">
                    <span data-ng-bind="sum"></span>
                    <small>{{def}} Logs</small>
                </h1>
            </a>
        </li>
    </ul>
    
    <table class="table table-condensed" data-ng-show="logPages">
        <thead>
            <tr>
                <th class="col-sm-2">LOG #</th>
                <th class="col-sm-2 hidden-xs">ATA</th>
                <th class="col-sm-2 hidden-xs">STATUS</th>
                <th class="col-sm-2">CODE</th>
                <th class="col-sm-2">STATION</th>
                <th class="col-sm-2">DATE</th>
            </tr>
        </thead>
        <tbody data-ng-repeat="lp in logPages | filter: discrepancyFilter">
            <tr>
                <td rowspan="2">
                    <a href="#" data-ng-click="showLPDetail(lp.LogNumber)" data-ng-bind="lp.LogNumber"></a>
                </td>
                <td class="hidden-xs" data-ng-bind="lp.ATA"></td>
                <td class="hidden-xs">DEFERRED</td>
                <td data-ng-bind="lp.DeferralCode"></td>
                <td data-ng-bind="lp.Station"></td>
                <td data-ng-bind="lp.DeferralDate | date: 'dd MMM yyyy'"></td>
            </tr>
            <tr>
                <td colspan="5" class="text-muted ellipsis" data-ng-bind="lp.LogItemTitleCommentInfo"></td>
            </tr>
        </tbody>
    </table>
</div>